main {
    display: flex;
    flex-direction: row;
}

p {
    color: white;
    font-weight: bold;
}

.search-btn-text {
    color: white;
}

.column-section {
    display: flex;
    flex-direction: column;
}

.row-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.day-class {
    padding: 20px;
    margin: 5px;
    border-color: black;
    border-style:solid;
    background-color: grey;
}

.margin {
    margin: 10px;
}

.uvIndexLow {
    background-color: rgb(0, 255, 0);
}
.uvIndexMid {
    background-color: yellow;
}
.uvIndexHigh {
    background-color: red;
}
