main {
    display: flex;
    flex-direction: row;
}


.search-btn-text {
    color: white;
}

.column-section {
    display: flex;
    flex-direction: column;
}

.row-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.day-class {
    padding: 20px;
    margin: 5px;
    border-color: black;
    border-style:solid;
    background-color: grey;
}

p {
    color: white;
    font-weight: bold;
}